<div ng-controller="MainController as main">
    <div class="page-header">
        <h1>Flapper News</h1>
    </div>

    <div ng-repeat="post in posts.posts | orderBy:'-upvotes'" >
      <span class="glyphicon glyphicon-thumbs-up"
            ng-click="incrementUpvotes(post)"></span>
        {{post.upvotes}}
      <span style="font-size:20px; margin-left:10px;">
        <a ng-show="post.link" ng-href="{{post.link}}">
            {{post.link}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </span>
      <span>
           posted by <a ng-href="#/users/{{post.user.username}}">{{post.user.username}}</a>
        <a href="#/posts/{{post.id}}">Comments</a>
      </span>
    </div>
    <!--  Test -->
    <!--  Test -->

    <form ng-submit="addPost()"
          style="margin-top:30px;">
        <h3>Add a new post</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Title"
                   ng-model="title">
        </div>
        <div class="form-group">
            <input type="url"
                   class="form-control"
                   placeholder="http://google.com"
                   ng-model="link">
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>