<!DOCTYPE html>
<html>
<head>
  <title>FlapperNews</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="flapperNews" >
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div ng-include="'nav/_nav.html'"></div>
    <ui-view></ui-view>
  </div>
</div>




</body>
</html>
